.jumbotron {
	height: 100vh;
	background-color: rgba(255,255,255,0.00);
}
#title-text {
	padding-top: 20vh;
	padding-bottom: 0;
}
@font-face {
	font-family: 'bitlow';
	src: url(../font/bitlow.ttf);
}
.bitlow-font {
	font-family: bitlow;
}
#sponsor-image {
	display: none;
}
#sponsor-placeholder {
	display: block;
	font-size: 32px;
}
.panel-custom {
	min-height: 100vh;
}
.top-padded {
	padding-top: 70px;
}
#title-institute {
	font-size: 32px;
}
#title-moto {
	margin-top: 0;
	padding-top: 0;
}
#title {
	z-index: 5;
}
.card-custom {
	min-width: 290px;
	max-width: 350px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.card-custom-modal {
	min-width: 200px;
	max-width: 250px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.card-header-modal {
	font-size: 18px;
}

a {
	text-decoration: none;
	color: white;
}
a :hover {
	text-decoration: none;
	color: white;
}
a :visited {
	text-decoration: none;
	color: white;
}
a :focus {
	text-decoration: none;
	color: white;
}
.card-a {
	color: white;
	font-size: 18px;
}
.card-a :hover {
	color: white;
	font-size: 18px;
	text-decoration: none;
}
.card-a :visited {
	color: white;
	font-size: 18px;
	text-decoration: none;
}
.card-a :focus {
	color: white;
	font-size: 18px;
	text-decoration: none;
}
.card-text-custom {
	height: 140px;
}
.nav-item-custom {
	font-size: 14px;
}

.modal-custom {
	transition: all ease .5s;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
}

.hover-div {
	position: relative;
	background-color: rgba(0,0,0,0.76);
	width: 100%;
	height: 100%;
	text-decoration: none;
	opacity: 0;
	z-index: 3;
	transition: all ease .5s;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
	display: table-cell;
	vertical-align: middle;
}


.game-card:hover .hover-div {
	opacity: 1;
}

.game-card {
	border: none;
	display: table;
	width: 240px;
	height: 240px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.footer {
	position: sticky;
	width: 100%;
	z-index: 5;
	left: 0;
	margin: 0;
}

.footer-section {
	margin: 25px;
}
